@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  
  --animate-flicker: flicker 1.5s infinite alternate;
  --animate-pulsate: pulsate 2.5s infinite alternate;
  --animate-subtle-flicker: subtle-flicker 0.11s ease-in-out infinite alternate;
}

@layer base {
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
